

<div class="body">
    <div class="wrapper">
        <div class="story_q">

        <div class="story">

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1116.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="" alt="" class="avatar">
                    <h4>Add to Story</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1101.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1101.jpg" alt="" class="avatar">
                    <h4>Mohsin Amin</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1102.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1102.jpg" alt="" class="avatar">
                    <h4>Fahim Morshed</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1103.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1103.jpg" alt="" class="avatar">
                    <h4>Mahtab Jhalak</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1104.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1104.jpg" alt="" class="avatar">
                    <h4>Md Siam</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1105.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1105.jpg" alt="" class="avatar">
                    <h4>Fahad Hossain</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1106.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1106.jpg" alt="" class="avatar">
                    <h4>Hasnain Iqbal Shirsho</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1107.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1107.jpg" alt="" class="avatar">
                    <h4>Noshin Samiha</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1108.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1108.jpg" alt="" class="avatar">
                    <h4>Shakib Ahmed</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1109.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1109.jpg" alt="" class="avatar">
                    <h4>Jafar Mahin</h4>
                </div>
            </div>

            <div class="story_s">
                <img class="story-bg" src="assets/bsse1110.jpg" alt="">
                <div class="story-overlay"></div>
                <div class="story-text">
                    <img src="assets/bsse1110.jpg" alt="" class="avatar">
                    <h4>Mushfiqur Rahman Chowdhury</h4>
                </div>
            </div>

            
        </div>
        <img src="assets/left-arrow.svg" alt="" class="left-arrow">
        <img src="assets/right-arrow.svg" alt="" class="right-arrow">
    </div>
</div>
</div>